<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.chatline.service" />
	<context:component-scan base-package="org.chatline.command" />
	
	<util:map id="commandMap"
		key-type="org.chatline.command.CommandType"
		value-type="org.chatline.command.Command"
		map-class="java.util.HashMap">
		<entry key="POSTING" value-ref="postingCommand" />
		<entry key="READING" value-ref="readingCommand" />
		<entry key="FOLLOWING" value-ref="followingCommand" />
		<entry key="WALL" value-ref="wallCommand" />
	</util:map>
	
</beans>